/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
.text-title {
  padding-top: 20px;
}
.clear{
  clear: both;
}
.btn-create {
  margin-top: 15px;
}
@media screen and (max-width:992px) {
  tbody {
    padding-top: 30px;
  }
  .tbody-custom{
    padding-top: 0;
  }
  table.responsive-table td {
    text-align: center;
  }
  table.responsive-table td .btn-small {
    height: 25px;
    line-height: 25px;
  }
  .text-title {
    padding-left: 20px;
  }
}
@media screen and (max-width:360px) {
  .container {
    width: 100%;
  }
}
